  <!-- Section -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
  
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="title">Products</h3>
          </div>
        </div>
  
        <!-- product "assets/img/product01.png"-->
        <div class="col-md-3 col-xs-6" *ngFor="let product of products; let i=index">
          <div class="product">
            <div class="product-img">
              <img alt="" src={{product.image}}>
              <div class="product-label">
                <span class="sale">{{product.sale}}</span>
              </div>
            </div>
            <div class="product-body">
              <p class="product-category">Category:{{product.category}}</p>
              <h3 class="product-name"><a href="#">{{product.name}}</a></h3>
              <h4 class="product-price">{{product.price | currency:'INR'}}
                <del class="product-old-price">{{product.oldprice|currency:'INR'}}</del>
              </h4>
              <div class="product-rating">
                
                   
                  </div>
              
              <div class="product-btns">
                Qty
                <div class="input-number">
                  <input #quantity [max]="product?.quantity" [min]="product?.quantity >= 1 ? product?.quantity : 0"
                  readonly type="number" value="{{product?.quantity >= 1 ? 1 : 0}}">
                  <span (click)="increase()" class="qty-up">+</span>
                  <span (click)="decrease()" class="qty-down">-</span>
                </div>
              </div>
             


            <div class="add-to-cart"><!--*ngIf="product?.quantity >= 1"-->
              <button class="add-to-cart-btn"  (click)="addToCart(product.id)" ><i class="fa fa-shopping-cart"></i> add to cart</button>
              <button class="add-to-cart-btn"  (click)="buyNow(product.id)" ><i class="fa fa-shopping-cart"></i> Buy Now</button>
            </div>
          </div>
        </div>
        <!-- /product -->
  
        
        <!-- /product -->
  
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Section -->
  
